.main {
    background-image: url(emis.jpg); /* Путь к фоновому изображению */
    background-size: 100%;
    background-color: #0a0a0a; /* Цвет фона */
   }

   .katalog {
    font-family: "spaceagecyrillic_regular";
    font-size: 30px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #11111100;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.katalog:before {
    content: '';
    background: linear-gradient(45deg, #4d4d4dc0, #595959c0, #958b93b7, #d5b4dbc9, #f6f6f6b7, #c4b8c6af, #6e6b71, #4b4a4bc0, #4d4d4dc0);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.katalog:active {
    color: #000000;
}

.katalog:active:after {
    background: transparent;
}

.katalog:hover:before {
    opacity: 1;
}

.katalog:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #11111100;
    left: 0;
    top: 0;
    border-radius: 10px;
}

a{
    
    padding: 0.5em 1.5em; 
    color: rgb(255, 255, 255); 
    font-family: monospace;
    font-size: 25px;
    font-weight: bold; 
    text-transform: uppercase; 
}

h1 {
    font-family: "spaceagecyrillic_regular"; 
    font-size: 70px;
    text-align: center;
    color: aliceblue;
  }
p {

    font-family: "Arial"; 
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

p.first{
    margin-right: 50%;
    text-align: left;
    font-family: "Arial"; 
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

@font-face {

    font-family: "spaceagecyrillic_regular"; 

    src: url("spaceagecyrillic_regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

.first_chapter{
    background-size: 100%;
    text-align: left;
    border-radius: 10px;
    max-width: 100%;
    margin-top: 1100px;
    background-color: #ffffff;
}