
a.stc {
    color: #ffffff;
    font-size: 100px;
    font-family: 'spaceagecyrillic_regular', Arial, sans-serif;
    line-height: 1.15;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.logo {
    text-align: center;
    overflow: hidden;

  }
.logo img {
    max-width: 100%;
  }

a{
    
    padding: 0.5em 1.5em; 
    color: rgb(255, 255, 255); 
    font-family: monospace;
    font-size: 25px;
    font-weight: bold; 
    text-transform: uppercase; 
}

h1 {
    font-family: "spaceagecyrillic_regular"; 
    font-size: 70px;
    text-align: center;
    color: aliceblue;
  }
p {
    margin: 300px;
    font-family: "Arial"; 
    font-size: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
}

p.hero__subtitle {
    margin: 300px;
    font-family: "Arial"; 
    font-size: 45px;
    text-align: left;
    color: rgb(255, 255, 255);
}
.main {
    background-image: url(zvezdnyi-fon-71.jpg); /* Путь к фоновому изображению */
    background-color: #0a0a0a; /* Цвет фона */
   }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: slideIn 0.5s forwards;
}

.modal-content {
    background-color: #222;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: white;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.modal.show .modal-content {
    transform: translateX(0);
    opacity: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


.close:focus {
    color: #000;
    text-decoration: none;
}

.menu-item {
    margin: 10px 0;
    cursor: pointer;
}

.katalog {
    font-family: "spaceagecyrillic_regular";
    font-size: 30px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #11111100;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.katalog:before {
    content: '';
    background: linear-gradient(45deg, #4d002dc0, #920055c0, #ec00b9b7, #d400ffc9, #da1fffb7, #a324b4af, #7a00ff, #920055c0, #4d002dc0);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.katalog:active {
    color: #000000;
}

.katalog:active:after {
    background: transparent;
}

.katalog:hover:before {
    opacity: 1;
}

.katalog:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #11111100;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@font-face {

    font-family: "spaceagecyrillic_regular"; 

    src: url("spaceagecyrillic_regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

  .hero{

    background: url(Wf7jXqr3FoFeuEJCTyQBnT-1200-80.jpg) no-repeat bottom left;
    background-size: cover;
    padding: 100px 0;
}

.hero__button {
      font-family: "spaceagecyrillic_regular"; 
      display: block;
      max-width: 400px;
      max-height: 70px;
      margin-left: 100px;
      margin-top: 35px;
      text-align: center;
      color: #fff;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.162);
      border-radius: 4px;
      transition: transform .5s;
}

